.center {
    text-align: center;
}

img.rounded-corner {
  border-radius: 50%;
}

.center-page {
    width: 500px;
    height:300px;
    position:absolute;


    top:-40px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.space-vert {
    margin-top: 20px;
}

.footer-pos {
        width: auto;
    height:auto;
    position:absolute;


    top:700px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
    
}
